<div class="card">
    <div class="card-header">User Register</div>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-12">
                <label for="fullname" class="form-lable">Enter Fullname </label>
                <input type="text" class="form-control" formControlName="fullname"
                    placeholder="Enter fullname">
                <!-- forms as a component api   -->
            </div>
            <div class="form-group col-12">
                <label for="email" class="form-lable">Enter Email Id</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Enter email">
            </div>
            <div class="form-group col-12">
                <label for="mobilenumber" class="form-lable">Enter mobilenumber </label>
                <input type="text" class="form-control" formControlName="mobilenumber"
                    placeholder="Enter mobilenumber">
            </div>
            <div class="form-group col-12">
                <label for="password" class="form-lable">Enter password </label>
                <input type="password" class="form-control" formControlName="password"
                    placeholder="Enter password">
            </div>

            <div class="form-group col-12">
                <button type="submit" class="btn btn-primary mr-3 ml-4">Register</button>
                <button type="reset" (click)="onReset()" class="btn btn-danger ml-2">Cancel</button>
            </div>
        </form>
    </div>
   
  </div>
