
<div class="card container mt-3">
    <div class="card-header">User List</div>
    <div class="card-body">
        <form [formGroup]="edituser" (ngSubmit)="updateUser()">
            <div class="form-group" >
              <label>Enter Name</label>
              <input type="text" class="form-control" placeholder="Enter name" formControlName="fullname">
              <label>Enter email</label>
              <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
              <label>Enter mobilenumber</label>
              <input type="text" class="form-control" placeholder="Enter address" formControlName="mobilenumber">
              <label>Enter password</label>
              <input type="text" class="form-control" placeholder="Enter address" formControlName="password">
              
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-primary" (click)="copyUser()">copyUser</button>
          </form>
    </div>
</div>


